*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root{

    --color-container:#FFF4F8;
    --color-box:#FFFFFF;
    /*font colors*/
    --color-main-title:#1A1814;
    --color-text:#000000;
    --color-text-secondary:#606060;
    --color-link:#CC312D;

}

html{
    font-size: 62.5%;
}
 body {
  height: 100%;
 }

/*mobile size*/
.main-title{
font-size: 2rem;
font-weight: 800;
line-height: 100%;
color: var(--color-main-title);
}

.color-span{
    color: #CC312D;
}

span{
padding-right: 0.9rem;
line-height:normal;
}

.text-bottom{
    margin-top: 1rem;
}

.text{
  font-size: 1.4rem;  
  font-weight: 600;
  color: var(--color-text);
  margin-top: 0.8rem;
}

.second-text{
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--color-text-secondary);
     margin-top: 0.8rem;
}

.date-text{
    font-size:1.4rem ;
    font-weight: 400;
    line-height: 180%;
    color: var(--color-text-secondary);
}

/*videolink*/

.video-link{
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 24px;
    color: var(--color-link);
    top: 1rem;
}

/*font-size :desktop*/

@media  screen and (min-width:1024px) {
    .main-title{
        line-height:39px ;
    }

    .text{
        font-size: 1.6rem;
        line-height: 35px;
    }

    .second-text{
        line-height: 24px;
    }

    .box-footer{
margin-top: 2rem!important;
}

.container{
  max-width: 1140px;
  margin: 0 auto;
  padding-top: 3rem;
  gap: 2.8rem;
}

}

/*section*/
/*title*/
.first-title{
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;

}

.gallery{
    background-color: var(--color-container);
     width: 100%;
     min-height: 100vh;
    padding-top: 4rem;
    
}

/*container-mobile*/

.container{
    background-color: var(--color-container);
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    padding-top: 2rem ;
    border-radius: 1rem;
    flex: 1; 
}

.box{
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  padding: 1rem 1rem;
  margin-bottom: 2.7rem;
}

.box .bg-image {
  width: 100%;
  aspect-ratio: 16 / 9; /* 👈 نسبت 16:9 */
  object-fit: cover;    /* 👈 برش تصویر برای پرکردن قاب */
  display: block;
}

.box-footer{
display: flex;
margin-top: 1.9rem;
}

.date-text{
    padding-left: 6rem;
}

@media (min-width:768px) {

    .container{
        grid-template-columns: repeat(2,1fr);
    }
    
}

@media (min-width:1024px) {

    .container{
        grid-template-columns: repeat(3,1fr);
    }
   
}

@media (min-width:1280px) {

    .container{
        grid-template-columns: repeat(4,1fr);
        
    }
    
    
}

.boxheader{
    position: relative;
}

.badge{
    text-decoration: none;
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 5px 10px;
    background-color:red;
    color: var(--color-container);
    border-radius: 0.7rem;
    z-index: 2;
    transition: all 0.3s ease;
}

.badge:hover {
  background: #a91e1b; /* رنگ تیره‌تر */
  transform: scale(1.1);
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}
